@import "tailwindcss";
@custom-variant lg (@media (min-width:1025px));
@custom-variant max-lg (@media (max-width:1024px));
@custom-variant lightm (&:where(.lightm, .lightm *));
@theme {
  --width-4-cols: calc(25% - 15px);
  --color-amber: #f2c200;
  --color-corn: #dcb000;
  --color-merino: #faf7f0;
  --color-gordons-green: #0a1108;
  --color-gordons-green-20: rgb(10 17 8 / 20%);
  --color-chicago: #615d58;
  --color-celery: #92bb53;
  --color-zorba: #9d9890;
  --color-iron: #d2d3d5;
  --color-heavy-metal: #282f27;
  --color-westar: #dddad3;
  --color-white-c: #ffffff;
  --color-black-c: #000000;
  --color-sub-white: #ffffffcc;

  /* FONT SIZE */
  --text-10: 10px;
  --text-15: 15px;
  --text-17: 17px;
  --text-19: 19px;
  --text-21: 21px;
  --text-22: 22px;
  --text-27: 27px;
  --text-30: 30px;
  --text-50: 50px;
  --text-56: 56px;
  --leading-47: 47px;
  --leading-57: 57px;
  --padding-180: 180px;
  --gap-90: 90px;
  /* 32 */
  --text-32: 32px;
  --leading-32: 40px;
  /* 40 */
  --text-40: 40px;
  --leading-40: 50px;

  /* RADIUS */
  --radius-20: 20px;

  /* SHADOW */
  --shadow-soft-light: 0 1px 6px rgba(0, 0, 0, 0.05);

  --rotate-360: 360deg;
  --width-85: 85%;
}

@layer components {
  .product-gallery__main {
    .slick-slide {
      height: auto !important;
      li {
        width: inherit !important;
      }
    }
  }
  .progress-line {
    height: 6px;
    width: 100%;
    background: #f3f0e9; /* Màu nền thanh xám nhạt */
    position: relative;
    span {
      display: block;
      height: 100%;
      background: #f2c200;
      width: 0; /* Bắt đầu từ không có gì */
      transition: width 2s cubic-bezier(0.22, 1, 0.36, 1); /* Hiệu ứng mượt hơn */
      will-change: width;
    }
  }

  .swiper-pagination {
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
      margin: 0 8px !important;
      background: transparent !important;
      border: 2px solid #e5e3e0 !important;
      opacity: 1 !important;
      &.swiper-pagination-bullet-active {
        background: #f2c200 !important;
        border: 2px solid #f2c200 !important;
      }
    }
  }
  .sl-prev,
  .sl-next {
    width: 56px;
    height: 56px;
  }
  .search-header {
    .search-header__overlay {
      top: -500px;
    }
    &.search_opened {
      .search-header__background {
        display: block !important;
      }
      .search-header__overlay {
        top: 0px;
      }
    }
  }
}
