.page-404::before {
  content: "";
  background: url("../images/before-404-img.png") center center no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.lightm .page-404::before {
  content: "";
  background: url("../images/before-404-light-img.png") center center no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
