/* keyframe */
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes animatetop {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;

    opacity: 1;
  }
}
