/* Masonry layout */
.grid {
  .grid-item {
    figure {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #00000099;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        z-index: 2;
        pointer-events: none;
      }
      img {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
        width: 100%;
        object-fit: cover;
      }
    }

    cite {
      a {
        font-size: 12px;
        line-height: 150%;
        color: var(--color-black);
        background: #ffffffcc;
        backdrop-filter: blur(4px);
        border-radius: 50px;
        padding: 6px 12px;
      }

      &:hover {
        a {
          background: var(--color-black);
          color: var(--color-white);
        }
      }
    }

    &:hover {
      figure::before {
        opacity: 1;
        visibility: visible;
      }

      img {
        transform: scale(1.1);
      }

      em span {
        opacity: 1;
        visibility: visible;
      }

      cite {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.lightm {
  .grid .grid-item cite:hover a {
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .grid {
    .grid-item {
      figure {
        &::before {
          content: "";
          background: none !important;
        }
      }

      img {
        height: 216px;
      }

      em {
        span {
          position: relative;
          opacity: 1;
          visibility: visible;
          bottom: 0;
          padding: 12px 54px 0 0;
          display: -webkit-box; // Cần thiết để line-clamp hoạt động
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      cite {
        position: absolute;
        opacity: 1;
        visibility: visible;
        top: initial;
        left: initial;
        bottom: 11px;
        right: 1px;

        a {
          color: #fff;
          background: none;
          border: 1px solid #fff;
        }
      }

      // Hover states
      &:hover {
        img {
          transform: none !important;
        }
      }
    }
  }

  // Light mode overrides
  .lightm {
    .grid .grid-item {
      cite a {
        color: #000;
        background: none;
        border: 1px solid #000;
      }
    }
  }
}
